* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1,
h2,
p {
    margin: 25px;
}

span {
    background-color: white;
    color: black;
}