* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.box-container {
    color: white;
}

.box-one {
    height: 100px;
    width: 300px;
    background-color: rgb(182, 26, 26);
    border: 20px solid purple;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.box-two {
    height: 100px;
    width: 300px;
    background-color: rgb(20, 20, 168);
    border: 20px solid green;
    padding: 10px;
    margin: 10px;
    text-align: center;
}