* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 75vw;
  padding: 15px;
  margin:15px;
}

button {
  background: #fff;
  color: #000;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid red;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 3px;
}

button:hover {
  cursor: pointer;
  background: #bebebe;
}

.results {
  white-space: pre-line;
}